<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GetVerificationCode"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HachikoCoffee"
        tools:targetApi="31">
        <activity
            android:name=".Activity.CancelOrdersActivity"
            android:exported="true">
             <intent-filter>
<!--                 <action android:name="android.intent.action.MAIN" />-->
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".Activity.EditNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.AddNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.NotificationManagementActivity"
            android:exported="true">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FeedbackManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserManagementActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.FinishedOrdersActivity"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

            <!-- <intent-filter> -->
            <!-- &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt; -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.AddStoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditStoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StoreManagementActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.RevenueOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VoucherManagementActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.AddVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddCategoryAcivity"
            android:exported="false" />

        <activity
        android:name=".Activity.DashboardActivity"
        android:exported="true">
            <intent-filter>
                <!-- <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.EditProductActivity"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AddProductActivity"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProductManagementActivity"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CategoryManagementActivity"
            android:exported="true">
            <intent-filter>

<!--                 <action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PendingOrdersActivity"
            android:exported="true">
            <intent-filter>

<!--                 <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditAddressActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Login"
            android:exported="true">
            <intent-filter>

                 <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.YourVoucherPick"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.inte nt.action.MAIN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NewAddressActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.CompanyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeAddressActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchItemActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SearchShopActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SavedAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ContactFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.YourAddressPick"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>

<!--                 <action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.InfoAccountLoginActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginOTPActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomSheetDialog.ProductDetail"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomSheetDialog.ShopDetail"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NotificationDetail"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OrderDetail"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OrderHistory"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.YourVoucher"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PhotoDetail"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>